.sampleText {
  font-family: Arial, "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  font-size: 24pt;
  font-weight: bold;
  font-variant: unset;
  text-shadow: 105%;
  text-rendering: auto;
  line-height: 110%;
  color: rgb(46, 146, 0);
  width: auto;
  border-left: solid 7px #ff0000;
  border-top: dashed 7px #00ff00ff;
  padding: 20px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 50px;
  text-align: left;
}
