.heading {
  font-weight: bold;
  background-color: lightblue;
  padding: 10px;
  border: 1pt solid black;
}

.content {
  padding: 10px;
  border: 1pt solid black;
  width: 75px;
}

#table {
  text-align: left;
  border: 1pt;
  margin: auto;
  margin-top: 20pt;
  border: solid 3pt black;
}
